/* Style for the container */
.phone-auth-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid transparent;
    border-radius: 8px;
    background: transparent;

  }
  
  /* Style for the form */
  .phone-auth-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  /* Style for labels */
  .phone-auth-form label {
    font-weight: bold;
  }

  
  /* Style for inputs */
  .phone-auth-form input[type="text"] {
    width:100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255,255,255,.2);
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    color: aliceblue;
    padding: 20px 45px 20px 20px;
  }
  
  /* Style for buttons */
  .phone-auth-form button {
    width: 100%;
    height: 45px;
    background: aliceblue;
    border: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
  }
  
  .phone-auth-form button:hover {
    background-color: #20cf43;
  }
  
  /* Style for alert messages */
  .alert {
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
  }
  
  .alert.success {
    background-color: #4caf50;
    color: white;
  }
  
  .alert.error {
    background-color: #f44336;
    color: white;
  }
  