  
  /* login page */
  .fullpage{
    background-image: url("./images/fullbackground1.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    
  }
  
  .login-container {
    display: flex;
    margin-left: 10%;
    margin-top: 10%;
    color: rgb(17, 57, 188);
    
    
  }
  .login{
    border: 5px solid #9dd8e0;
    
    border-radius: 15px;  
      }

      .login-table{
        align-items: normal;
      }

      @media screen and (max-width: 600px) {
        .login {
          width: 80%; 
        }
      } 

  